target/
!**/src/main/**
!**/src/test/**
ToDo.txt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.flattened-pom.xml

